# You don't need it
*.py*
*.sh
*.o
*.out
*.log
*.tmp
*_logs*
/src/*test*.lua
/src/*example*
/src/a

# Super private (I store my thesis there)
*Private*
*private*

# Too insecure to show it now.
/docs
*test*
src/Obfuscator
src/Deobfuscator

# Ignore IDE files
*vscode