# You don't need it
*.py*
*.sh
*.o
*.out
*.log
*.tmp
*_logs*
/*test*.lua
*.md
/README.md


# Ignore those directories, they're not ready yet.
/ByteCodeReader
/Tests
/Visual
/templates
/Schemes
/Libraries

# Too legacy to keep it alive
/Interpreter/LuaInterpreter/Interpreter.lua
/Interpreter/LuaInterpreter/SyntaxStatementParser.lua
/Interpreter/ChainingParser
/Interpreter/Synthax
/Interpreter/*.lua
/Optimizer/legacy*
/Parser
*__legacy_*

# Super private (I store my thesis there)
*Private*
*private*

# Too trashy to even show that, sorry
*_Trash*

# tbh, too shy to show it now.
/Documentation

# Ignore IDE files
*vscod*